<header>
  <nav class="p-3 mb-2 text-white">
    <div class="container-fluid">
      <p class="fs-1 text-center">
        Lista de productos
      </p>
    </div>
  </nav>
</header>
<main>
  <section>
    <div class="container-fluid text-center row">
      {{#each listProducts.docs }}
        <div class="col">
          <div class="card mt-3" style="width: 18rem;">
            <div class="card-body">
              <a class="link-offset-2 link-underline link-underline-opacity-0" href="/products/{{this._id}}">
              <h5 class="card-title">{{this.title}}</h5></a>
              <p class="card-text">Su estado es:
                {{this.description}}
                <br />
                Precio:
                {{this.price}}
                <br />
                Codigo:
                {{this.code}}
                <br />
                Stock:
                {{this.stock}}
                <br />
                Categoria:
                {{this.category}}
                <br />
                ID:
                {{this._id}}</p>
                 <form action="/api/carts/{{../idcart}}/products/{{this._id}}" method=post name="form{{this._id}}">
                 <button type="submit" class="btn btn-primary">Agregar</button>
                 </form> 
            </div>
          </div>
        </div>
      {{/each}}
    </div>
    <div class="container-fluid text-center mt-5">
      <div class="row justify-content-md-center">
			<nav class="col-md-auto">
				<ul class="pagination">
					{{#if listProducts.hasPrevPage}} <li class="page-item"> {{else}}<li class="page-item disabled">{{/if}}
					<a class="page-link" href="?limit={{listProducts.limit}}&page={{listProducts.prevPage}}">Previous</a>
					</li>
					<li class="page-item active" aria-current="page">
					<a class="page-link" href="#">{{ listProducts.page }}</a>
					</li>
					{{#if listProducts.hasNextPage}} <li class="page-item"> {{else}}<li class="page-item disabled">{{/if}}
					<a class="page-link" href="?limit={{listProducts.limit}}&page={{listProducts.nextPage}}">Next</a>
					</li>
				</ul>
			</nav>
      </div>
		</div>

  </section>
</main>