<section class="container">
  <div class="row bg-light login-section">
    <div class="col-4">
      <img src="{{user.img}}" alt="logo" class="img-fluid" />
    </div>
    <div class="col-8" style="padding: 50px 20px;">
      <h1>Hola, {{user.first_name}} {{user.last_name}}</h1>

      <p>No te olvides de tus datos!!</p>

      <ul>
        <li><b>Nombre: </b>{{user.first_name}}</li>
        <li><b>Apellido: </b>{{user.last_name}}</li>
        <li><b>Correo: </b>{{user.email}}</li>
        <li><b>Role: </b>{{user.role}}</li>
      </ul>
      <div>
        <form
          action="/api/users/{{user._id}}/documents"
          method="post"
          enctype="multipart/form-data"
        >
          <label for="file">Seleccione una foto de perfil:</label>
          <input
            type="file"
            name="profile"
            id="profile"
            accept=".jpg, .jpeg, .png, .pdf"
            required
          />
          <br />
          <input type="submit" value="Subir" />
        </form></div>
      <div>
        <form
          action="/api/users/{{user._id}}/documents"
          method="post"
          enctype="multipart/form-data"
        >
          <input type="file" name="document" id="document" multiple />
          <input
            type="hidden"
            name="tipo"
            id="identificacion"
            value="identificacion"
          />
          <button type="submit">Subir DNI</button>
        </form></div>
      <div>
        <form
          action="/api/users/{{user._id}}/documents"
          method="post"
          enctype="multipart/form-data"
        >
          <input type="file" name="document" id="document" multiple />
          <input type="hidden" name="tipo" id="domicilio" value="domicilio" />
          <button type="submit">Subir Cert Domicilio</button>
        </form></div>
      <div>
        <form
          action="/api/users/{{user._id}}/documents"
          method="post"
          enctype="multipart/form-data"
        >
          <input type="file" name="document" id="document" multiple />
          <input type="hidden" name="tipo" id="estadoacc" value="estado" />
          <button type="submit">Subir Estado de cuenta</button>
        </form></div>
    </div>
    <div>
    </div>
  </div>
</section>